<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/">
        <table>
            <% questions.forEach(question => { %>
                <tr>
                    <th><%= question.head %> </th>
                </tr>
                <tr>
                    <th>Yes</th>
                    <th>Mabye</th>
                    <th>No</th>
                </tr>
                <tr>
                    <td><input type="radio" name="yes" id="<%=question.id%>"></td>
                    <td><input type="radio" name="mabye" id="<%=question.id%>"></td>
                    <td><input type="radio" name="no" id="<%=question.id%>"></td>
                </tr>
            <% }) %>
        </table>
        <button type="submit">Submit form</button>
    </form>
</body>
</html>