<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <table>
            <% questions.forEach(question => { %>
                <tr>
                    <th colspan="2"><%= question.head %> </th>
                </tr>
                <tr>
                    <th>Yes</th>
                    <!-- <th>Mabye</th> -->
                    <th>No</th>
                </tr>
                <tr>
                    <td><input type="radio" name="<%=question.id%>" id="Yes" value="Yes"></td>
                    <!-- <td><input type="radio" name="<%=question.id%>" id="Mabye" value="Mabye"></td> -->
                    <td><input type="radio" name="<%=question.id%>" id="No" value="No"></td>
                </tr>
            <% }) %>
        </table>
        <button type="submit">Submit form</button>
    </form>
</body>
</html>