body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border: 2px dashed #000 ;
}

th{
  font-size: 1.5em;
}
tr{
  background-color: #0001
}
tr:nth-child(even) {
  background-color: #0003
}
button[type="submit"]{
  margin: 1em;
}
td,th{
  padding: 0.5em;
  text-align: center;
}